.modal-div {
  background-image: url(../assets/SalleNiveau1.png);

  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }

  .overlayNar {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
  }

  .modalNar-content {
    position: absolute;
    width: 70%;
    height: 10%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: var(--background-text);
    border-radius: 30px;
    padding: 14px 28px;
    transition: max-height 0.5s; /* Ajoutez une transition pour un effet plus doux */
    z-index: +1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .close-modalNar {
    position: absolute;
    width: 1.5%;
    top: 80px;
    right: 20px;
    animation: blinkAnimation 1s infinite;
    animation-delay: 30s;
    cursor: pointer;
  }

  @keyframes blinkAnimation {
    50% {
      opacity: 0;
    }
  }

  /* BulleNaration.scss */

  @keyframes writeText {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .text1 {
    font-size: 2em;
    width: 0; /* Commencez avec une largeur de 0 */
    white-space: nowrap; /* Empêchez le texte de passer à la ligne */
    overflow: hidden; /* Cachez tout le texte en dehors de la largeur définie */
    animation: writeText 5s ease-out forwards; /* Ajoutez l'animation */
    animation-delay: 2s;
  }
  .text2 {
    font-size: 2em;
    width: 0; /* Commencez avec une largeur de 0 */
    white-space: nowrap; /* Empêchez le texte de passer à la ligne */
    overflow: hidden; /* Cachez tout le texte en dehors de la largeur définie */
    animation: writeText 5s ease-out forwards; /* Ajoutez l'animation */
    animation-delay: 1s;
  }
  .text3 {
    font-size: 2em;
    width: 0; /* Commencez avec une largeur de 0 */
    white-space: nowrap; /* Empêchez le texte de passer à la ligne */
    overflow: hidden; /* Cachez tout le texte en dehors de la largeur définie */
    animation: writeText 5s ease-out forwards; /* Ajoutez l'animation */
    animation-delay: 1s;
  }
  .text4 {
    font-size: 2em;
    width: 0; /* Commencez avec une largeur de 0 */
    white-space: nowrap; /* Empêchez le texte de passer à la ligne */
    overflow: hidden; /* Cachez tout le texte en dehors de la largeur définie */
    animation: writeText 5s ease-out forwards; /* Ajoutez l'animation */
    animation-delay: 1s;
  }
  .text5 {
    font-size: 2em;
    width: 0; /* Commencez avec une largeur de 0 */
    white-space: nowrap; /* Empêchez le texte de passer à la ligne */
    overflow: hidden; /* Cachez tout le texte en dehors de la largeur définie */
    animation: writeText 5s ease-out forwards; /* Ajoutez l'animation */
    animation-delay: 1s;
  }
  .text6 {
    font-size: 2em;
    width: 0; /* Commencez avec une largeur de 0 */
    white-space: nowrap; /* Empêchez le texte de passer à la ligne */
    overflow: hidden; /* Cachez tout le texte en dehors de la largeur définie */
    animation: writeText 5s ease-out forwards; /* Ajoutez l'animation */
    animation-delay: 1s;
  }
}
