.background-container {
  background-image: url("../assets/SalleNiveau1.png");
  min-width: calc(1.75 * 100vh);
  max-width: calc(1.75 * 100vh);
  min-height: 100vh;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;

  position: relative;
}
// .nav {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;

//   .buttons {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 1rem;
//     padding: 1rem;
//   }
// }
