@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "Horror";
  src: url("./assets/Horror.ttf");
}

:root {
  --bg-accueil: #908972;

  --bg-button: #803d2a;
  --border-button: solid 3px #fbf4ec;
  --shadow-button: 0 0 10px #fbf4ec;
  --font-size-button: 1rem;

  --font-color-maintitle: #ffffff;
  --font-color-title: #ffffff;
  --font-color-text: #ffffff;
  --font-666-color: #e1525f;

  --font-size-maintitle: 6.4rem;
  --font-size-title: 2rem;
  --font-size-text: 1rem;
  --background-text: #4b4b4b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-accueil);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-text);
  border-radius: 20px;
  border: 3px solid var(--bg-accueil);
}

html {
  scroll-behavior: smooth;
  background-color: black;
}
